@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
button { cursor: pointer; }

/* small helper */
.container { max-width: 1024px; margin-left: auto; margin-right: auto; }

@layer base {
	body {
		@apply bg-slate-50 text-slate-800;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.dark body {
		@apply bg-slate-900 text-slate-100;
	}
}
